* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.movies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.movie_card {
    width: 25%;
}